  /* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-navy: #001448;
  --color-yellow: #d6c100;
  --color-dark-gray: #4d4d4d;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-black: #000000;

  /* Font size */
  --font-large: 25px;
  --font-medium: 21px;
  --font-regular: 16px;
  --font-small: 12px;

  /* Font weight */
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-extra-light: 200;

  /* Border Size */
  

  /* Animation */
  --animation-duration: 1500ms;

}

/* Universal tags */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

.hidden {
  display: none;
}


/* Typography */

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-extra-light);
}